doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Webpack demo
  body
    include ./layouts/nav.pug

    h1 Page 1
    