.container
  .row
    .col
      .card
        img.card-img-top(src=require('./../../assets/images/pic2.png') alt="lamp")
        .card-body
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card's content.
    .col
      .card
        img.card-img-top(src=require('./../../assets/images/pic3.png') alt="lamp")
        .card-body
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card's content.
    .col
      .card
        img.card-img-top(src=require('./../../assets/images/pic4.png') alt="lamp")
        .card-body
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card's content.
